<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    img { max-width: 100%; }
    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
      line-height: 1.6em;
      background-color: #f6f6f6;
      margin: 0;
    }
    @media only screen and (max-width: 640px) {
      body { padding: 0 !important; }
    }
    /* Add your custom styles here */
    /* Example styles for content */
    .content {
      padding: 20px;
      background-color: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 3px;
    }
    h1, h2, h3, h4 {
      font-weight: 800;
      margin: 20px 0 5px;
    }
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
    }
    /* Example styles for variables */
    .variable {
      font-weight: bold;
      color: #348eda;
    }
    /* Example styles for list */
    .variable-list {
      list-style: none;
      padding: 0;
    }
    .variable-list li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body itemscope itemtype="http://schema.org/EmailMessage" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;">
  <div class="content">
    <h1>Exam Link and Expiration</h1>
    <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
      <tr>
        <td class="content-wrap">
          <meta itemprop="name" content="Exam Information" />
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                Here is the information about your upcoming exam:
              </td>
            </tr>
            <tr>
              <td class="content-block variable-list">
                <ul>
                  <li><span class="variable">Exam Link:</span> <a href="{{code.inviteLink}}">{{code.inviteLink}}</a></li>
                  <li><span class="variable">Link Expiration Time:</span> {{code.expiryTime}}</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="content-block">
                Please make sure to access the exam using the provided link before it expires.
              </td>
            </tr>
            <tr>
              <td class="content-block">
                Best regards,
              </td>
            </tr>
            <tr>
              <td class="content-block">
                &mdash; {{code.companyName}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
